{% extends "admin/base.html" %}
{% load i18n %}

{% block content %}

<div class="wrap"> 
    <div id="icon-edit-pages" class="icon32 icon32-posts-page"><br></div>
    <h2>{% trans 'Pages' %} <a href="{{ SITE_URL }}/admin/pages/add/" class="button add-new-h2">{% trans 'Add New' %}</a> </h2>
 
    <div class="clear"></div>   
    
    <form action="" method="post"> 

        <ul class="subsubsub"> 
            <li><a href='{{ SITE_URL }}/admin/pages/' class="current">{% trans "All"%}</a> |</li> 
            <li><a href='{{ SITE_URL }}/admin/pages/?status=publish'>{% trans "Published"%}</a></li>
        </ul>     

    
        <p class="search-box"> 
            <label class="screen-reader-text" for="post-search-input">{% trans "Search" %} :</label> 
            <input type="text" id="post-search-input" name="q" value="" /> 
            <input type="submit" value="{% trans "Search" %}" class="button" /> 
        </p>     
        
        <div class="tablenav"> 
            <div class="alignleft actions"> 
                <select name="action"> 
                    <option value="-1" selected="selected">{% trans "Bulk Actions" %}</option> 
                    <option value="trash">{% trans "Move to Trash" %}</option> 
                </select> 
                <input type="submit" value="{% trans "Apply" %}" name="doaction" id="doaction" class="button-secondary action" /> 
            </div> 
             
            <div class="clear"></div> 
        </div> 

    
	    <div class="clear"></div>   
	    {% result_list cl %}
	    <div class="clear"></div>   
    
    </form>
 
</div> 
        
{% endblock %}   