{% extends "admin/layout.html" %}
{% load i18n %}

{% block third_level_navigation %}
<ul class="navigation">
    {% for navigation_item in third_level_navigation %}
        <li class="{% if loop.first %}first{% endif %} {% if loop.last %}last{% endif %} {{ navigation_item.class }}"><div class="left"><div class="right"><a href="{{ navigation_item.url }}">{{ navigation_item.name }}</a></div></div></li>
    {% endfor %}
</ul>
{% endblock %}

{% block extrahead %}
    {% for extrahead_item in extraheads %}
        {{ extrahead_item }}
    {% endfor %}
    
    <link rel="stylesheet"  href="{{ ADMIN_MEDIA_URL }}/css/players.css" type="text/css" >
	<script type="text/javascript" src="{{ ADMIN_MEDIA_URL }}/js/ckeditor/ckeditor.js"></script>
	<script type="text/javascript" src="{{ ADMIN_MEDIA_URL }}/js/ckeditor/config.js"></script>
	<script type="text/javascript" src="{{ ADMIN_MEDIA_URL }}/js/filemanager/filemanager.js"></script>
	<script type="text/javascript" src="{{ ADMIN_MEDIA_URL }}/js/jquery.slugify.js"></script>
	
	<script type="text/javascript"><!--
	$(document).ready(function(){
		CKEDITOR.replace('id_content', {
		    filebrowserBrowseUrl: '{{ SITE_URL }}/admin/FileManager',
		    filebrowserImageBrowseUrl: '{{ SITE_URL }}/admin/FileManager',
		    filebrowserFlashBrowseUrl: '{{ SITE_URL }}/admin/FileManager',
		    filebrowserUploadUrl: '{{ SITE_URL }}/admin/FileManager',
		    filebrowserImageUploadUrl: '{{ SITE_URL }}/admin/FileManager',
		    filebrowserFlashUploadUrl: '{{ SITE_URL }}/admin/FileManager'
		});
		
		$('#id_content').parent().find('label').hide();
		
	});
	//--></script> 	
{% endblock %}

{% block content %}
<p>&nbsp;</p>

<form id="addChangeForm" name="addChangeForm" action="" method="post">
	<div class="left_column">
	    <div class="shadedPanel">
		    <ul class="addchange_form"> 
		        {{ addchange_form }}
		    </ul>

		    <p>&nbsp;</p>
		    <p align="right">
		        <a href="javascript:void(0)" onclick="$('#addChangeForm').submit();" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button"><span class="ui-button-text">{% trans "Ok" %}</span></a>
		        <a href="{{ SITE_URL }}/admin/{{ taxonomy }}/" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button"><span class="ui-button-text">{% trans "Cancel" %}</span></a>
		    </p>    
		</div>
	</div>
	
    {% meta_data addchange_obj as addchange_meta_data %}
    <div class="right_column">
        <div class="shadedPanel">   
            <h3>{% trans "Meta Values" %}</h3>
            <div class="shadedPanel_element">               
                <h3>{% trans "Meta Title" %}</h3>                
                <p><input type="text" name="meta_title" value="{{ addchange_meta_data.meta_title }}" size="40"/></p>
            </div>
            <div class="shadedPanel_element">               
                <h3>{% trans "Meta Description" %}</h3>                
                <p><input type="text" name="meta_description" value="{{ addchange_meta_data.meta_description }}" size="40"/></p>
            </div>
            <div class="shadedPanel_element">               
                <h3>{% trans "Meta Keywords" %}</h3>    
                <p><input type="text" name="meta_keywords" value="{{ addchange_meta_data.meta_keywords }}" size="40"/></p>            
            </div>
            <div class="corner top-left"></div>
            <div class="corner top-right"></div>
            <div class="corner bottom-left"></div>
            <div class="corner bottom-right"></div> 
        </div>
              
    </div>  	
</form>                
                     
{% endblock %}   

















     
