{% extends "admin/base.html" %}
{% load i18n %}

{% block content %}

<div class="wrap"> 
    <div id="icon-edit-pages" class="icon32"><br /></div> 
    <h2>{{ title }} <a href="./add/" class="button add-new-h2">{% trans "Add New" %}</a> </h2> 

    <form action="" method="post"> 
        <p class="search-box"> 
            <label class="screen-reader-text" for="post-search-input">{% trans "Search" %} :</label> 
            <input type="text" id="post-search-input" name="q" value="" /> 
            <input type="submit" value="{% trans "Search" %}" class="button" /> 
        </p>     
        
        <div class="tablenav"> 
            <div class="alignleft actions"> 
                <select name="action"> 
                    <option value="-1" selected="selected">{% trans "Bulk Actions" %}</option> 
                    <option value="trash">{% trans "Move to Trash" %}</option> 
                </select> 
                <input type="submit" value="{% trans "Apply" %}" name="doaction" id="doaction" class="button-secondary action" /> 
            </div> 
             
            <div class="clear"></div> 
        </div> 
     
        <div class="clear"></div> 
        
        {% result_list cl %}
        
        <div class="clear"></div> 
    </form>
</div> 


        
{% endblock %}   