{% load 'i18n' %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="tr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="tr">
    <title>{% block title %} {% endblock %} &lsaquo; {P}jango Admin</title>
    
    <script type="text/javascript" src="{{ ADMIN_MEDIA_URL }}/js/jquery-1.5.2.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="{{ ADMIN_MEDIA_URL }}/js/jquery-ui/css/flick/jquery-ui-1.8.13.custom.css" media="screen"/>    
    <script type="text/javascript" src="{{ ADMIN_MEDIA_URL }}/js/jquery-ui/js/jquery-ui-1.8.11.custom.min.js"></script>
    
    <script type="text/javascript" src="{{ ADMIN_MEDIA_URL }}/js/ox.dropdown.js"></script>
    
    <link rel="stylesheet" type="text/css" href="{{ ADMIN_MEDIA_URL }}/css/base.css"/>
    <script type="text/javascript" src="{{ ADMIN_MEDIA_URL }}/js/utils.js"></script>
    
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/admin.css"/>
    
    <script type="text/javascript">
    var SITE_URL = '{{ SITE_URL }}';
    var MEDIA_URL = '{{ MEDIA_URL }}';
    var ADMIN_MEDIA_URL = '{{ ADMIN_MEDIA_URL }}';

    $(document).ready(function() {
      initAccoutSwitcher("");
    });
    
    </script>
    
    {% block extrahead %}{% endblock %}    
</head>
<body class="hasInterface hasGradient hasSidebar ">

<div id="oaHeader">
	<div id="oaHeaderBranding" class="brandingAdServer" style="background:url({{ ADMIN_MEDIA_URL }}/img/pjango.jpg) no-repeat;">Pijango</div>
	<div id="oaNavigationExtraTop" class="hasSearch">
        <ul>     
            <li class="infoUser">Merhaba, {{ user.displayname }}</li>    
            <li class="buttonHelp"><a href="" target="help">Yardım</a></li>    
            <li class="buttonHelp"><a href="{{ SITE_URL }}/auth/logout/">Güvenli Çıkış</a></li>
            <li class="buttonLogout"><a href="{{ SITE_URL }}/" target="_blank">Siteye Git</a></li>   
            
        </ul>
    </div>
    <!-- div id="oaLanguages">   
    
        <ul>
            <li>
                <div class="dropDown">
                    <span><span>{% for languages_item in LANGUAGES %}{% if languages_item.0 == LANGUAGE_CODE %}{{ languages_item.1 }}{% endif %}{% endfor %}</span></span>
                    <div class="panel">
                        <div>
                            <ul>
                                {% for languages_item in LANGUAGES %}
                                <li><a href="?lng={{ languages_item.0 }}">{{ languages_item.1 }}</a></li>
                                {% endfor %}     
                            </ul>
                        </div>
                    </div>
                    <div class="mask"></div>
                </div>
            </li>
        </ul>
   
    </div>     -->
    <div id="oaSearch">
        <form name="search" action="">
        <input type="text" name="q" class="search" accesskey="Arama" value="{{ cl.query }}"><input class="submit" type="submit" value="&nbsp" >
        </form>
    </div>
</div>

<div id="oaNavigation">
	
    <ul id="oaNavigationTabs">
    	{% get_admin_menu current_admin_menu %}
    </ul>   
    <ul id="oaNavigationExtra">
        {% account_switcher %}
    </ul>
</div>


<div id="firstLevelContent">
	{% block first_level_content %}

	<div id="secondLevelNavigation">
		<ul class="navigation first">
		  {% get_admin_submenu current_admin_menu current_admin_submenu current_admin_submenu2 %}
		</ul>
		<br/>
		{% block second_level_navigation %}{% endblock %}
		
	
		
		
	</div>
    
    <div id="secondLevelContent">
        
        
		<div id="thirdLevelHeader"  class="hasTabs">
		    <div class="breadcrumb hasIcon iconAdvertisersLarge">
		        <h3 class="noBreadcrumb"><span class="label">{{ title }}</span></h3>
		        <span class="entityLinks"><span class="ent"></span></span>
		    </div>
		    <div class='corner left'></div>
		    <div class='corner right'></div>
		</div>
		<div id="thirdLevelNavigation">
			{% block third_level_navigation %}{% endblock %}
        </div>		
		<div id="thirdLevelContent" style="min-height: 198px;">
			<div id="thirdLevelTools">
				{% get_messages %}
				<ul class="contextContainer">
	            	<li>&nbsp;</li>
	            </ul>
	  		</div>		
			{% block content %}{% endblock %}
		</div>               
		
    </div>
    {% endblock %}
</div>







</body></html>