{% extends "admin/layout.html" %}
{% load i18n %}

{% block extrahead %}
    <script type="text/javascript" src="{{ ADMIN_MEDIA_URL }}/js/tinymce/tiny_mce.js"></script>
    <script type="text/javascript" src="{{ ADMIN_MEDIA_URL }}/js/tinymce/tiny_mce_config.js"></script>

    <style> 
        .photo.custom-state-active { background: #eee; }
        .photo { float: left; width: 400px; height:300px; padding: 0.4em; margin: 0 0.4em 0.4em 0; text-align: center; }
        .photo h5 { margin: 0 0 0.4em; cursor: move; }
        .photo a { float: right; }
        .photo a.ui-icon-zoomin { float: left; }
        .photo img { width: 400px; height:280px; cursor: move; }
    </style>
{% endblock %}

{% block content %}
<p>&nbsp;</p>

<form id="addChangeForm" name="addChangeForm" action="" method="post">
    <ul class="addchange_form"> 
        <li class="photo ui-widget-content ui-corner-tr">
            <img src="" alt="Contact Photo" width="96" height="72" class="photo_img"/>
            <a href="" title="View larger image" class="ui-icon ui-icon-zoomin photo_large_url">View larger</a>
            <a href="#" title="Delete this image" class="ui-icon ui-icon-trash photo_delete_url">Delete image</a>
            <a href="javascript:void(0)" onclick="mcImageManager.open('','','','changeImage');">Resmi Değiştir</a>
        </li>    
        {{ addchange_form }}
    </ul>
    
    <p>&nbsp;</p>
    <p align="right">
        <a href="javascript:void(0)" onclick="$('#addChangeForm').submit();" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button"><span class="ui-button-text">{% trans "Ok" %}</span></a>
        <a href="{{ SITE_URL }}/admin/{{ taxonomy }}/" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button"><span class="ui-button-text">{% trans "Cancel" %}</span></a>
    </p>    
</form>  

<script type="text/javascript">  
function changeImage(url, data) {    
    $(".photo > .photo_img").attr("src",url);
    $(".photo > .photo_large_url").attr("href",url);
    $("#id_content").val(url);
    
    $( ".photo" ).click(function( event ) {
        var $item = $( this ), $target = $( event.target );

        if ( $target.is( "a.ui-icon-trash" ) ) {
            deleteImage( $item );
        } else if ( $target.is( "a.ui-icon-zoomin" ) ) {
            viewLargerImage( $target );
        }

        return false;
    });     
}

function viewLargerImage( $link ) {
    var src = $link.attr( "href" ),
        title = $link.siblings( "img" ).attr( "alt" ),
        $modal = $( "img[alt$='" + src + "']" );
    
    if ( $modal.length ) {
        $modal.dialog( "open" );
    } else {
        var img = $( "<img alt='" + src + "' width='400' height='300' style='display: none; padding: 8px;' />" )
            .attr( "src", src ).appendTo( "body" );
        setTimeout(function() {
            img.dialog({
                title: title,
                width: 400,
                height: 300,
                modal: true
            });
        }, 1 );
    }
    
}

function deleteImage( $item ) {
    $(".photo > .photo_img").attr("src",'');   
    $("#id_content").val('');
}

$(document).ready(function(){
    $(".photo > .photo_img").attr("src",$("#id_content").val());   
});
</script>   
                     
{% endblock %}   

















     
