{% extends "admin/base.html" %}
{% load i18n %}

{% block content %}
<div class="wrap"> 
    <div id="icon-edit" class="icon32"><br /></div> 
    <h2>{% trans 'Add/Change Product' %}</h2> 
    
    
    <form name="post" action="" method="post" id="post"> 

        <div id="poststuff" class="metabox-holder has-right-sidebar"> 

 
            <div id="post-body"> 
                <div id="post-body-content"> 
                
                    {% if product %}
                        <input type="hidden" name="id" value="{{ product.id }}" />
                    {% endif %}
                    <table>
                    <tr>
	                    <td><label id="title-prompt-text" for="name">{% trans 'Name' %}</label></td>
	                    <td><input type="text" id="name" name="name" value="{{ product.name }}"  size="30"/> </td>
                    </tr>
                    <tr>
                        <td><label id="title-prompt-text" for="description">{% trans 'Description' %}</label> </td>
                        <td><textarea id="description" name="description" rows="3" cols="25">{{ product.description }}</textarea></td>
                    </tr>
                    <tr>
                        <td><label id="title-prompt-text" for="price">{% trans 'Price' %}</label></td>
                        <td><input type="text" id="price" name="price" value="{{ product.price }}"  size="30"/> </td>
                    </tr>
                    <tr>
                        <td><label id="title-prompt-text" for="discounted_price">{% trans 'Discounted Price' %}</label></td>
                        <td><input type="text" id="discounted_price" name="discounted_price" value="{{ product.discounted_price }}"  size="30"/> </td>
                    </tr>
                    </table>
                
                    <input type="submit" id="save" name="save"  value="{% trans 'Save' %}" class="button-primary" /> 
                    <a href="/{{ SITE_URL }}admin/products/" class="button add-new-h2">{% trans 'Cancel' %}</a>
                </div> 
            </div> 
            <br class="clear" /> 
        </div><!-- /poststuff --> 
    </form> 

    
</div> 
{% endblock %}   