{% extends 'layout.html' %}

{% block title %}{{ flatpage| trans "title" }}{% endblock %}




{% block content %}

<table width="981" border="0" cellspacing="0" cellpadding="0"> 
    <tr bgcolor="#f2ffff"> 
        <td width="11" valign="top"><img src="{{ MEDIA_URL }}/img/sol_ust.jpg"  /></td> 
        <td width="959" rowspan="3" valign="top">
            {{ flatpage| trans "content" }}
        </td> 
        <td width="11" valign="top"><img src="{{ MEDIA_URL }}/img/sag_ust.jpg" /></td> 
    </tr> 
    <tr bgcolor="#f2ffff"> 
        <td>&nbsp;</td> 
        <td>&nbsp;</td> 
      </tr> 
      <tr bgcolor="#f2ffff"> 
        <td valign="bottom"><img src="{{ MEDIA_URL }}/img/sol_alt.jpg" /></td> 
        <td valign="bottom"><img src="{{ MEDIA_URL }}/img/sag_alt.jpg" width="11" height="10" alt="" /></td> 
    </tr> 
</table>
{% endblock %}
