{% extends "admin/layout.html" %}
{% load i18n %}

{% block extrahead %}
<link type="text/css" href="{{ ADMIN_MEDIA_URL }}/js/multiselect/css/ui.multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="{{ ADMIN_MEDIA_URL }}/js/multiselect/js/ui.multiselect.js"></script>
{% endblock %}

{% block breadcrumb %}
    <li>{% trans "Users" %}</li>
    <li>{% trans "Groups" %}</li>
    {% if change_obj %}
        <li>{% trans "Change" %}</li>
    {% else %}
        <li>{% trans "Add New" %}</li>
    {% endif %}
{% endblock %}

{% block content %}
 <form id="addChangeForm" name="addChangeForm" action="" method="post">
<div class="grid_8">
    <h2>{% trans "Group" %}</h2>
    <ul> 
        {{ form }}         
    </ul>        
</div>

<div class="grid_8">
    <h2>{% trans "Permissions" %}</h2>
	<select id="group_permissions" class="multiselect" multiple="multiple" name="permissions[]">
        {% for permission_item in permissions %}
			<option value="{{ permission_item.id }}" {% for group_permission_item in group_permissions %}{% if group_permission_item.permission_id == permission_item.id %} selected="selected"{% endif %}{% endfor %}>{{ permission_item.name }}</option>
		{% endfor %}
    </select>
</div>

<p>&nbsp;</p>
<p align="right">
        <a href="javascript:void(0)" onclick="$('#addChangeForm').submit();" class="ui-button ui-button-text-only ui-widget ui-state-default ui-corner-all"><span class="ui-button-text">{% trans "Save" %}</span></a>
        <a href="" class="ui-button ui-button-text-only ui-widget ui-state-default ui-corner-all"><span class="ui-button-text">{% trans "Delete" %}</span></a>
        <a href="{{ SITE_URL }}/admin/user/" class="ui-button ui-button-text-only ui-widget ui-state-default ui-corner-all"><span class="ui-button-text">{% trans "Cancel" %}</span></a>
</p>

</form>

<script type="text/javascript">
$(function(){
	$(".multiselect").multiselect();
});
</script>
{% endblock %}   