{% extends "admin/layout.html" %}
{% load i18n %}

{% block extrahead %}
    {% for extrahead_item in extraheads %}
        {{ extrahead_item }}
    {% endfor %}
{% endblock %}    

{% block breadcrumb %}
    <li><a href="{{ SITE_URL }}/admin/{{ current_admin_menu }}/{{ current_admin_submenu }}/">{{ current_admin_menu }}</a> <span class="divider">/</span></li>
    <li><a href="{{ SITE_URL }}/admin/{{ current_admin_menu }}/{{ current_admin_submenu2 }}/">{{ current_admin_submenu2 }}</a> <span class="divider">/</span></li>
    <li class="active">{{ title }}</li>     
{% endblock %}


{% block third_level_navigation %}
<ul class="nav nav-tabs">
	{% for navigation_item in third_level_navigation %}
	    <li class="{{ navigation_item.class }}"><a href="{{ navigation_item.url }}">{{ navigation_item.name }}</a></li>
	{% endfor %}
</ul>
{% endblock %}

{% block content %}

	{{ addchange_form.open }}              
	{{ addchange_form.as_bootstrap }}
	<div class="form-actions">
	  <button type="submit" class="btn btn-primary">{% trans "Save changes" %}</button>
	  <button type="button" class="btn">{% trans "Cancel" %}</button>
	</div>	
	{{ addchange_form.close }}  

{% endblock %}   