{% extends "admin/layout.html" %}
{% load i18n %}

{% block extrahead %}
    {% for extrahead_item in extraheads %}
        {{ extrahead_item }}
    {% endfor %}
{% endblock %}    

{% block breadcrumb %}
    <li><a href="">{{ title }}</a></li>
    <li>{% if obj %}{% trans "Change" %}{% else %}{% trans "Add New" %}{% endif %}</li>
{% endblock %}

{% block third_level_navigation %}
<ul class="navigation">
    {% for navigation_item in third_level_navigation %}
        <li class="{% if loop.first %}first{% endif %} {% if loop.last %}last{% endif %} {{ navigation_item.class }}"><div class="left"><div class="right"><a href="{{ navigation_item.url }}">{{ navigation_item.name }}</a></div></div></li>
    {% endfor %}
</ul>
{% endblock %}

{% block content %}

<p align="right">
	{% if not is_popup %}
	<a href="javascript:void(0)" onclick="$('#{{ addchange_form.get_id }}').submit();" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button"><span class="ui-button-text">{% trans "Ok" %}</span></a>
	<a href="{{ referer }}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button"><span class="ui-button-text">{% trans "Cancel" %}</span></a>
	{% endif %}    
</p>

<div class="grid_10 clearfix">
    <div class="block">
        {{ addchange_form.open }}  
            <ul> 
                {{ addchange_form.as_list }}           
            </ul>  
            <p>&nbsp;</p>
        {{ addchange_form.close }}  
    </div>
</div>

<p align="right">
    {% if not is_popup %}
    <a href="javascript:void(0)" onclick="$('#{{ addchange_form.get_id }}').submit();" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button"><span class="ui-button-text">{% trans "Ok" %}</span></a>
    <a href="{{ referer }}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button"><span class="ui-button-text">{% trans "Cancel" %}</span></a>
    {% endif %}    
</p>

{% endblock %}   