{% load 'i18n' %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="tr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="tr">
    <title>{% block title %} {% endblock %} &lsaquo; {P}jango Admin</title>
    
    <link rel="stylesheet" type="text/css" href="{{ ADMIN_MEDIA_URL }}/css/bootstrap.css"/>
    
    <script type="text/javascript" src="{{ ADMIN_MEDIA_URL }}/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ ADMIN_MEDIA_URL }}/js/bootstrap.js"></script>
    
    <script type="text/javascript">    
    var APPLICATION_URL = '{{ APPLICATION_URL }}';
    var SITE_URL = '{{ SITE_URL }}';
    var MEDIA_URL = '{{ MEDIA_URL }}';
    var ADMIN_MEDIA_URL = '{{ ADMIN_MEDIA_URL }}';
    var JAVASCRIPT_DATE_FORMAT = '{{ JAVASCRIPT_DATE_FORMAT }}';    
    </script>    
    {% block extrahead %}{% endblock %}    
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">{P}jango</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              {% get_admin_menu current_admin_menu %}       
            </ul>
            <div class="pull-right">
              
              <ul class="nav">
	              <li><a href="#">Merhaba, {{ user.displayname }}</a></li>
	              <li><a href="{{ SITE_URL }}/" target="_blank">Siteye Git</a></li>   
	              <li><a href="{{ SITE_URL }}/auth/logout/">Güvenli Çıkış</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


<div class="container" style="margin-top: 50px;">
    {% block container %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <div class="well">
	                <ul class="nav nav-list">
	                    {% get_admin_submenu current_admin_menu current_admin_submenu current_admin_submenu2 %}
	                </ul>
                </div>
            </div>
            <div class="span10">
			    <ul class="breadcrumb">
			       <li><i class="icon-home"></i><a href="#">Home</a> <span class="divider">/</span></li>			      
			       {% block breadcrumb %}{% endblock %}
			    </ul>           
			    {% block third_level_navigation %}    {% endblock %}
			    {% get_messages %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    {% endblock %}
</div>




</body></html>