{% extends "admin/layout.html" %}
{% load 'i18n' %}
{% block extrahead %}
    {% for extrahead_item in extraheads %}
        {{ extrahead_item }}
    {% endfor %}
{% endblock %}

{% block breadcrumb %}
    <li class="active">{{ title }}</li>     
{% endblock %}

{% block content %}

    {{ addchange_form.open }}              
    {{ addchange_form.as_bootstrap }}
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">{% trans "Save changes" %}</button>
      <button type="button" class="btn">{% trans "Cancel" %}</button>
    </div>  
    {{ addchange_form.close }}  
        
{% endblock %}   